.e {
  text-align: center;
  font-size: 30px;
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #1180ef;
}
.e > h1 {
  color: white;
  text-transform: capitalize;
  font-size: 35px;
  font-weight: 400;
  font-family: "Poppins";
}

.e-detail {
  width: 100vw;
  height: 300px;
  display: flex;
  justify-content: space-around;
  background-color: #1180ef;
}
.ec {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.e-detail-h1 {
  font-size: 25px;
  font-weight: 400;
  font-family: "Poppins";
  color: white;
}
.ec > p {
  font-size: 15px;
  color: white;
  font-weight: 100;
  font-family: "Roboto";
}
