.project{
    background-color: rgb(2, 9, 29);
}
.project-crousel{
    margin-left: 18%;
    margin-right: 17%;
}

.pr-img{
    width: 200px;
    height: 200px;
    object-fit: contain;
}
@media screen and (max-width:786px) {
    .pr-img{
        width: 400px;
        height: 200px;
        object-fit: contain;
    }

    .project-crousel{
        margin-left: 5%;
        margin-right: 5%;
    }
    
}