.tskill {
  background-color: #4895ef;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tskill-h1 {
  color: white;
  text-transform: uppercase;
  font-family: "Poppins";
}
.tskill-h1::after {
  content: " ";
  display: block;
  width: 150px;
  height: 4px;
  background-color: white;
  margin-left: 50px;
  margin-top: 20px;
}
.tskill-lottie {
  width: 400px;
  height: 400px;
}

.tskill-c {
  margin-left: 10px;
  margin-right: 10px;
  width: 400px;
}
.tskill-m {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.tskill-c > p {
  font-size: 15px;
  color: white;
}
