.work-t {
  display: flex;
  flex-direction: column;
  background-color: #1180ef;
}
.work-t-h1 {
  text-align: center;
  padding: 20px;
  text-transform: uppercase;
  font-family: "Poppins";
  color: white;
  font-weight: 700;
}
.work-t-h1::after {
  content: " ";
  display: block;

  width: 100px;
  height: 3px;
  background-color: white;
  margin-left: 45%;
  margin-top: 2%;
}
@media screen and (max-width: 786px) {
  .work-t-h1::after {
    margin-left: 40%;
    margin-top: 5%;
  }
}

.work {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.designation {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.work-detail > p {
  color: white;
  font-size: 15px;
  font-family: "Roboto";
  font-weight: 100;
  margin-left: 10px;
  word-spacing: 3px;
  letter-spacing: 2px;
}
.designation > h4 {
  margin-left: 20px;
  color: white;
  word-spacing: 10px;
  letter-spacing: 2px;
  font-size: 11px;
  text-transform: uppercase;
}
.designation > h2 {
  text-transform: uppercase;
  color: white;
  font-size: 15px;
}
.work-detail {
  width: 260px;
  height: auto;
  background-color: rgb(2, 9, 29);
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  border-radius: 10px;
}
.company {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.company > h2 {
  text-transform: uppercase;
  color: white;
  font-size: 15px;
}
.company > h4 {
  margin-left: 40px;

  color: white;
  word-spacing: 5px;
  letter-spacing: 2px;
  font-size: 11px;
  text-transform: uppercase;
}
